:root {
    --dark-blue: #2c2d65;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
  }
  
  .form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-logo {
    width: 83px;
    height: 74px;
    margin-bottom: 10px;
  }
  
  .form-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .form-title {
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input {
    width: 100%;
    padding: 8px 30px 8px 10px; /* Adjust padding to make the input smaller */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px; /* Adjust font size for smaller text */
    box-sizing: border-box;
  }
  
  .input-icon {
    position: absolute;
    right: 10px; /* Position the icon on the right side */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the icon width */
    height: 20px; /* Adjust the icon height */
  }
  
  .form-group input::placeholder {
    color: #bbb;
    font-size: 14px; /* Adjust placeholder text size */
  }
  
  .form-check {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .form-check input[type="checkbox"] {
    width: 10px;
    height: 10px;
    flex-shrink: 0;  }
  
  .form-check label {
    color: #5C5B5B;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form-check a {
    color: #2C2D65;;
    text-decoration: underline;
  }

  
  .submit-btn {
    width: 100%;
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 8px;
    background: var(--dark-blue);
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .submit-btn:hover {
    background-color: #4849a6;
  }
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  